// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.div-short-container{
  max-width: 250px;
}


.inside-short-container{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 14px 0px 0px;
}